--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
requests
beautifulsoup4
python-dateutil
tqdm
pypdf
certifi
google-generativeai
sentence-transformers
numpy
torch
trafilatura
pymilvus
milvus-lite
